#Paid Tier1 (Aimee Project)
GOOGLE_API_KEY=get a google ai studio key and paste here

#Free Tier (Default Gemini API Key, projects/number)
#GOOGLE_API_KEY=get a free tier google ai studio key and paste here

# The cloud model, will call directly bypass litellm, see tools/config.py
CLOUD_AI_MODEL="gemini-2.5-flash"


# All models here are for local llm testing
# To use local model, comment out CLOUD_AI_MODEL
LOCAL_AI_MODEL="ollama_chat/gemma3:27b"
LOCAL_AI_MODEL_1="ollama_chat/gpt-oss:20b"
LOCAL_AI_MODEL_CODING="ollama_chat/qwen3:32b"
LOCAL_AI_MODEL_REASONING="ollama_chat/aia/DeepSeek-R1-Distill-Qwen-32B-Uncensored-i1:latest"

# Infrastructure Routing
OLLAMA_API_BASE="http://localhost:11434"
